@model DataLayer.DataLayer.DLAdmin

@{
    ViewBag.Title = "Activate Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>e</b>Commerce
        </div>
        <!--==============================Activation==============================-->
        <div class="login-box-body">
            <p class="login-box-msg">Activation Code</p>
            @using (Html.BeginForm(FormMethod.Post))
            {
                @Html.Label("Enter Activation Code: ")
                @Html.TextBox("code")

                <br />
                <button type="submit" id="OkCode">Submit</button>
            }

        </div>
    </div>
</div>
<!--==============================End Activation============================== -->
