
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<br />
<div class="agile_ab_w3ls_info">
    <div class="col-md-6 ab_pic_w3ls">
        <img src="~/Content/Images/bottom1.jpg" alt=" " class="img-responsive" />
    </div>
    <div class="col-md-6 ab_pic_w3ls_text_info">
        <h5>About Our e<span>Commerce</span> </h5>
        <p>
            Electronic commerce or ecommerce is a term for any type of business,
            or commercial transaction,
            that involves the transfer of information across the Internet.
            It covers a range of different types of businesses, from consumer based retail sites,
            through auction,
            to business exchanges trading goods and services between corporations.
            It is currently one of the most important aspects of the Internet to emerge.
        </p>
        @*<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut lab ore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. labore et dolore magna aliqua.</p>*@
    </div>
    <div class="clearfix"></div>
</div>
